@import '@fontsource/merriweather-sans/300.css';
@import '@fontsource/merriweather-sans/700.css';

body {
	padding: 0;
	margin: 0;
}
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
button {
	margin: 0;
}

h1 {
	font-weight: var(--font-weight);
	font-size: 1.5rem;
	margin: 0;
}
h2 {
	font-weight: var(--font-weight);
	font-size: 1.2rem;
	margin: 0;
}
a {
	color: var(--text-accent);
}

body {
	--this-text: var(--text);
	background: var(--background-back);
	color: var(--this-text);
	font-family: var(--font-family);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
}
body {
	--main-margin: var(--gap);
	--main-height: calc(100vh - var(--main-margin) * 2);
	--column-width: 160px;
	--padding: 8px;
	--padding-small: calc(var(--padding) / 2);
	--padding-big: calc(var(--padding) * 2);
	--title-height: calc(var(--button-size) + var(--padding) * 4);
	--view-height: calc(var(--main-height) - var(--title-height) - var(--gap));
	--font-size: 0.9rem;
	--font-weight-bold: 700;
	--font-family: 'Merriweather Sans', sans-serif;
	--font-weight: 300;
	--border-radius: 8px;
	--border-radius-small: calc(var(--border-radius) / 2);
	--button-size: 20px;
	--gap: 8px;
	--line-width: 8px;
	--sidebar-width: 184px;
	--side-doc-width: 300px;
}
/* background text color 
accent
secondary
back indent active fade weak */
body {
	--background-back: hsl(0, 0%, 95%);

	--background: hsl(0, 0%, 100%);
	--background-indent: hsl(0 0% 92%);
	--background-active: hsl(0 0% 84%);

	--background-secondary: hsl(0 0% 98%);
	--background-secondary-indent: hsl(0 0% 89%);
	--background-secondary-active: hsl(0 0% 81%);

	--background-accent-indent: hsl(var(--accent-hue) 60% 92%);
	--background-accent-active: hsl(var(--accent-hue) 70% 86%);

	--background-accent-secondary-indent: hsl(var(--accent-secondary-hue), 60%, 92%);
	--background-accent-secondary-active: hsl(var(--accent-secondary-hue), 70%, 86%);

	--text: hsl(0 0% 30%);
	--text-select: hsl(0, 0%, 100%, 80%);
	--text-weak: hsl(0, 0%, 70%);
	--text-error: hsl(0, 90%, 60%);

	--text-accent: hsl(var(--accent-hue), 90%, 30%);
	--text-accent-select: hsl(var(--accent-hue), 100%, 60%, 30%);
	--text-accent-weak: hsl(var(--accent-hue), 30%, 70%);

	--text-accent-secondary: hsl(var(--accent-secondary-hue), 90%, 30%);
	--text-accent-secondary-select: hsl(var(--accent-secondary-hue), 100%, 60%, 30%);
	--text-accent-secondary-weak: hsl(var(--accent-secondary-hue), 30%, 70%);

	--color: hsl(0 0% 70%);
	--color-fade: hsl(0 0% 85%);

	--color-accent: hsl(var(--accent-hue), 80%, 70%);
	--color-accent-fade: hsl(var(--accent-hue), 90%, 85%);

	--color-accent-secondary: hsl(var(--accent-secondary-hue), 80%, 70%);
	--color-accent-secondary-fade: hsl(var(--accent-secondary-hue), 90%, 85%);

	--slider-lightness: 85%;
	--slider-lightness-hover: 80%;
	--slider-saturation: 90%;
	--slider-switch-lightness: 60%;

	--color-screen: hsl(0 0% 0%/ 0.3);
}
body.dark {
	--background-back: hsl(0 0% 10%);

	--background: hsl(0 0% 16%);
	--background-indent: hsl(0 0% 24%);
	--background-active: hsl(0 0% 30%);

	--background-secondary: hsl(0 0% 18%);
	--background-secondary-indent: hsl(0 0% 28%);
	--background-secondary-active: hsl(0 0% 32%);

	--background-accent-indent: hsl(var(--accent-hue) 10% 24%);
	--background-accent-active: hsl(var(--accent-hue) 20% 30%);

	--background-accent-secondary-indent: hsl(var(--accent-secondary-hue) 10% 24%);
	--background-accent-secondary-active: hsl(var(--accent-secondary-hue) 20% 30%);

	--text: hsl(0, 0%, 80%);
	--text-select: hsl(0, 0%, 100%, 30%);
	--text-weak: hsl(0, 0%, 50%);
	--text-error: hsl(0, 100%, 70%);

	--text-accent: hsl(var(--accent-hue), 60%, 80%);
	--text-accent-select: hsl(var(--accent-hue), 80%, 60%, 30%);
	--text-accent-weak: hsl(var(--accent-hue), 15%, 50%);

	--text-accent-secondary: hsl(var(--accent-secondary-hue), 60%, 80%);
	--text-accent-secondary-select: hsl(var(--accent-secondary-hue), 80%, 60%, 30%);
	--text-accent-secondary-weak: hsl(var(--accent-secondary-hue), 15%, 50%);

	--color: hsl(0, 0%, 42%);
	--color-fade: hsl(0, 0%, 32%);

	--color-accent: hsl(var(--accent-hue), 40%, 42%);
	--color-accent-fade: hsl(var(--accent-hue), 25%, 32%);

	--color-accent-secondary: hsl(var(--accent-secondary-hue), 40%, 42%);
	--color-accent-secondary-fade: hsl(var(--accent-secondary-hue), 25%, 32%);

	--slider-lightness: 24%;
	--slider-lightness-hover: 30%;
	--slider-saturation: 20%;
	--slider-switch-lightness: 42%;

	--color-screen: hsl(0 0% 0%/ 0.4);
}
.palette-plain {
	--this-background: var(--background);
	--this-background-indent: var(--background-indent);
	--this-background-active: var(--background-active);
	--this-text: var(--text);
	--this-text-weak: var(--text-weak);
	--this-text-select: var(--text-select);
	--this-color: var(--color);
	--this-color-fade: var(--color-fade);
}
.palette-plain-secondary {
	--this-background: var(--background-secondary);
	--this-background-indent: var(--background-secondary-indent);
	--this-background-active: var(--background-secondary-active);
	--this-text: var(--text);
	--this-text-weak: var(--text-weak);
	--this-text-select: var(--text-select);
}
.palette-accent {
	--this-background: var(--background);
	--this-background-indent: var(--background-accent-indent);
	--this-background-active: var(--background-accent-active);
	--this-text: var(--text-accent);
	--this-text-weak: var(--text-accent-weak);
	--this-text-select: var(--text-accent-select);
	--this-color: var(--color-accent);
	--this-color-fade: var(--color-accent-fade);
}
.palette-accent-secondary {
	--this-background: var(--background-secondary);
	--this-background-indent: var(--background-accent-secondary-indent);
	--this-background-active: var(--background-accent-secondary-active);
	--this-text: var(--text-accent-secondary);
	--this-text-weak: var(--text-accent-secondary-weak);
	--this-text-select: var(--text-accent-secondary-select);
	--this-color: var(--color-accent-secondary);
	--this-color-fade: var(--color-accent-secondary-fade);
}
.palette-disabled {
	--this-background-indent: var(--background);
	--this-background-active: var(--background);
	--this-color: var(--color-fade);
	--this-text: var(--text-weak);
}

a:visited {
	color: var(--text-accent-weak);
}
a:hover,
a:active {
	color: var(--text-accent-select);
}
